- if @coletas_count > 0
  %table.table.table-striped
    %thead
      %tr
        %th Local
        %th Monitor
        %th Escola
        %th Quando
        %th
    %tbody    
      - @coletas.each do |coleta|
        %tr
          %td= link_to coleta.local, coleta_path(coleta)
          %td= coleta.pessoa.nome
          %td= "#{coleta.escola.nome} - #{coleta.escola.municipio}"
          %td= format_datetime coleta.hora_coleta
          %td
            %a{:href=>edit_coleta_path(coleta), :class => 'btn btn-mini btn-primary'} 
              %i.icon-edit
              Editar

            = link_to '<i class="icon-trash"></i>'.html_safe, coleta_path(coleta), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Quer mesmo excluir a Coleta e todos seus dados?')) }, :class => 'btn btn-danger'

= link_to 'Nova', new_coleta_path, :class => 'btn btn-primary'
