= form_for @coletum do |f|
  - if @coletum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@coletum.errors.count, "error")} prohibited this coletum from being saved:"
      %ul
        - @coletum.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :data
    = f.date_select :data
  .field
    = f.label :info
    = f.text_area :info
  .field
    = f.label :escola
    = f.text_field :escola
  .actions
    = f.submit 'Save'
