- unless @pessoa.errors.empty?
  .alert.alert-error
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    - @pessoa.errors.full_messages.each do |msg|
      %li= msg

= form_for @pessoa, :html => { :class => 'form-horizontal' } do |f|  
  .control-group
    = f.label :Avatar, :class => 'control-label'
    .controls
      = image_tag @pessoa.avatar :thumb
      = f.file_field :avatar, :class => 'text_field'

  .control-group
    = f.label :nome, :class => 'control-label'
    .controls
      = f.text_field :nome, :class => 'text_field'

  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  
  .control-group
    = f.label :escolas, :class => 'control-label'
    .controls
      = f.select(:escola_ids, Escola.all.collect {|p| [ "#{p.nome} - #{p.cidade.nome}", p.id ] }, {}, :multiple => true, :class=>"chosen", :style=>"width:450px")
  
  .form-actions
    = f.submit "Salvar", :class => 'btn btn-primary'