= form_for current_user, :html => { :class => 'form-horizontal' } do |f|
  = image_tag current_user.avatar :thumb
  .control-group
    = f.label :Avatar, :class => 'control-label'
    .controls
      = f.file_field :avatar, :class => 'text_field'

  .control-group
    = f.label :nome, :class => 'control-label'
    .controls
      = f.text_field :nome, :class => 'text_field'
  
  .control-group
    = f.label :escola_id, :class => 'control-label'
    .controls
      = f.number_field :escola_id, :class => 'number_field'
  
  .form-actions
    = f.submit "Salvar", :class => 'btn btn-primary'
