%h1 Listing pessoas

%table
  %tr
    %th Nome
    %th Is monitor
    %th Nascimento
    %th Email
    %th Escola
    %th
    %th
    %th

  - @pessoas.each do |pessoa|
    %tr
      %td= pessoa.nome
      %td= pessoa.is_monitor
      %td= pessoa.nascimento
      %td= pessoa.email
      %td= pessoa.escola
      %td= link_to 'Show', pessoa
      %td= link_to 'Edit', edit_pessoa_path(pessoa)
      %td= link_to 'Destroy', pessoa, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pessoa', new_pessoa_path
