%p#notice= notice

%p
  %b Titulo:
  = @midium.titulo
%p
  %b Conteudo:
  = @midium.conteudo
%p
  %b Mediable:
  = @midium.mediable

= link_to 'Edit', edit_midium_path(@midium)
\|
= link_to 'Back', midia_path
