.navbar{:style=>"margin-left: 150px; width: 755px"}
  .navbar-inner
    %ul.nav
      %li
        %a{:href => "/"} 
          %i.icon-home
          Início
      %li
        %a{:href => "/noticias"} 
          %i.icon-comment
          Notícias
      %li.divider-vertical  
      %ul.nav
        // escolas
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-book
            Escolas
            %b.caret
          %ul.dropdown-menu
            - Cidade.joins(:escolas).uniq.each do |c|
              %li
                %a{:href => "#{url_for c}"} 
                  %i.icon-book
                  = "#{c.nome} (#{c.escolas.count})"

          // coletas
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-list
            Coletas
            %b.caret
          %ul.dropdown-menu
            - Coleta.all.each do |c|
              %li
                %a{:href => "#{url_for c}"} 
                  %i.icon-list
                  = "#{c.local} - #{c.escola.nome}"
    %ul.nav.pull-right  
      %li
        %a{:href => "/sobre"} 
          %i.icon-tint
          Sobre o Agenda Água        
      %li.divider-vertical              
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.icon-user
              = current_user.nome
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#{url_for current_user}"} 
                  %i.icon-user
                  Meu Perfil              
              - if current_user.is_admin? || current_user.is_monitor?
                %li.divider
                %li
                  %a{:href => "/admin"} 
                    %i.icon-lock
                    Administrar
              - else
                %li
                  %a{:href => "#{url_for current_user.escola}"} 
                    %i.icon-book
                    Minha Escola

              %li.divider
              %li
                %a{:href => "/logout"} 
                  %i.icon-off
                  Sair
        - else
          %li
            %a{:href => "/login"} 
              %i.icon-lock
              Acessar