- unless @escola.errors.empty?
  .alert.alert-error
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    - @escola.errors.full_messages.each do |msg|
      %li= msg

= form_for @escola, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :nome, :class => 'control-label'
    .controls
      = f.text_field :nome, :class => 'text_field'
  
  .control-group
    = f.label "Municípios", :class => 'control-label'
    .controls
      - selected = @escola.id && @escola.cidade ? @escola.cidade.id : nil
      = f.select(:cidade_id, Cidade.all.collect {|p| [ p.nome, p.id ] }, {:include_blank => 'Selecione...', :selected => selected})

  .control-group
    = f.label "Trecho do Rio", :class => 'control-label'
    .controls
      = f.text_field :trecho_rio, :class => 'text_field'

  .control-group
    = f.label "Região Hidrográfica", :class => 'control-label'
    .controls
      = f.text_field :regiao_hidrografica, :class => 'text_field'

  .control-group
    = f.label "Comitê da Bacia", :class => 'control-label'
    .controls
      = f.text_field :comite_bacia, :class => 'text_field'

  .control-group
    = f.label "Link do Comitê da Bacia", :class => 'control-label'
    .controls
      = f.text_field :comite_bacia_url, :class => 'text_field'      

  .control-group
    = f.label "Observações", :class => 'control-label'
    .controls
      = f.text_area :info, :class => 'text_area'      

  .control-group
    = f.label "Latitude", :class => 'control-label'
    .controls
      = f.text_field :lat, :class => 'text_field'
  .control-group
    = f.label "Longitude", :class => 'control-label'
    .controls
      = f.text_field :long, :class => 'text_field'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'