#grande
	.title
		%i.icon-book
		= @escola.nome
	.subtitle
		%i.icon-globe
		%span= link_to @escola.cidade.nome, @escola.cidade
		%span= " · #{@escola.trecho_rio} · #{@escola.regiao_hidrografica} ·" 
		- if !@escola.comite_bacia_url.empty?
			%span= link_to @escola.comite_bacia, @escola.comite_bacia_url, :target=>"_blank"
		- else
			%span= @escola.comite_bacia
	%hr

	- if @escola.coletas.count>0
		%h4 
			%i.icon-list 
			Coletas
		- @escola.coletas.each do |c|
			#div{:style=>"padding-left:20px"}
				%i.icon-time
				= formata_data c.hora_coleta
				%a{:href=>coleta_path(c)}= c.local
	- else 
		%i.icon-list 
		Sem coletas