- unless @notica.errors.empty?
  .alert.alert-error
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    - @notica.errors.full_messages.each do |msg|
      %li= msg

= form_for @notica, :html => { :class => 'form-horizontal' } do |f|  
  .control-group
    = f.label :Imagem, :class => 'control-label'
    .controls
      = image_tag @notica.imagem :thumb
      = f.file_field :imagem, :class => 'text_field'

  .control-group
    = f.label :titulo, :class => 'control-label'
    .controls
      = f.text_field :titulo, :class => 'text_field'

  .control-group
    = f.label :texto, :class => 'control-label'
    .controls
      = f.text_area :texto, :class => 'text_area'
  
  .form-actions
    = f.submit "Salvar", :class => 'btn btn-primary'
