%html
  %head
    %title Água na Escola

    = javascript_include_tag "all"
    = yield :javascripts    
    = stylesheet_link_tag    "all"
    = favicon_link_tag "/assets/favicon.ico"
    = csrf_meta_tags
    
    %body
      #meio      
        .logo= image_tag "logo.png"
        #fb-root
        .fb-like{"data-href" => "http://agendaaguanaescola.eco.br", "data-layout" => "box_count", "data-send" => "true", "data-show-faces" => "false", :style=>"position: absolute"}
        #menu= render :partial => "pages/menu"       
        #todo= yield
        #menu= render :partial => "pages/logos"
      %footer        
        %span{:style=>"float:left; margin: 2px"}          
          Agenda Água na Escola - SEA/INEA/RJ
        .contato
          %span.extrapolo ExtraPolo Softwares Culturais
          %span{:style=>"margin: 0px 6px 0px 6px"}= '|'
          %i.icon-envelope
          %a{:href=>"/sobre"}
            Contato

:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=380422978692298";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));