%html
  %head
    %title Água na Escola

    = javascript_include_tag "all"
    = yield :javascripts    
    = stylesheet_link_tag    "all"
    = favicon_link_tag "/assets/favicon.ico"
    = csrf_meta_tags
    
    %body
      #meio      
        .logo= image_tag "logo.png"
        #menu= render :partial => "pages/menu"       
        #todo= yield
        .realizacao= image_tag "logos.png"
      %footer        
        %span{:style=>"float:left; margin: 2px"}          
          Agenda Água na Escola - 2013
        .contato
          %span.extrapolo ExtraPolo Labs
          %span{:style=>"margin: 0px 6px 0px 6px"}= '|'
          %i.icon-envelope
          %a{:href=>"/sobre"}
            Contato
